# note: this is meant to run behind another reverse proxy,
# i.e. a primary caddy instance or nginx

{
    admin off
    auto_https off
}

http://evented.live {
    encode gzip zstd

    handle_path /media/* {
        root * /srv/media
        file_server
    }

    handle {
        reverse_proxy app:3000
    }
}
